@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  --bg-color: #06080e;
  --border-color: #1f2937;
  --text-color: #ffffff;
  --tag-bg-color: #121317;
  --tag-text-color: #a2a6b9;
}

html {
  --bg-color: #ffffff;
  --border-color: #1f2937;
  --text-color: #03050c;
  --tag-bg-color: #e0e2eb;
  --tag-text-color: #3d435c;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
.border {
  border-color: var(--border-color);
}

.tag {
  background-color: var(--tag-bg-color);
  color: var(--tag-text-color);
}
