@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  --bg-color: theme("colors.darkBg");
  --border-color: theme("colors.darkBorder");
  --text-color: theme("colors.darkText");
  --tag-bg-color: theme("colors.darkTagBg");
  --tag-text-color: theme("colors.darkTagText");
}

html {
  --bg-color: theme("colors.lightBg");
  --border-color: theme("colors.lightBorder");
  --text-color: theme("colors.lightText");
  --tag-bg-color: theme("colors.lightTagBg");
  --tag-text-color: theme("colors.lightTagText");
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

header,
.border {
  border-color: var(--border-color);
}

.tag {
  background-color: var(--tag-bg-color);
  color: var(--tag-text-color);
}
